.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 1080px;
  color: #000000;
  font-size: 30px;
  margin: 42px 0px 30px 10px;
  text-align: left;
}

.boxContainer {
  width: 1080px;
  height: 902px;
  border: solid 1px #d9d9d9;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
