.main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.title {
  margin-top: 42px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 800;
}

.container {
  margin-top: 30px;
  border-radius: 30px;
  width: 100%;
  height: 600px;
  height: fit-content;
  border: 1px solid #d8d8d8;
  padding: 50px;
  box-sizing: border-box;
}

.date {
  display: flex;
  gap: 20px;
  font-size: 22px;
  font-weight: 600;
}

.folder {
  width: 24px;
}

.mainBottom {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-between;
  gap: 40px;
}

.void {
  max-width: 200px;
  width: 100%;
  border-radius: 50%;
}

.listenButton,
.answerButton {
  background-color: #f5e3b3;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  width: 76px;
  gap: 5px;
  height: 42px;
  font-size: 18px;
  font-weight: 600;
}

.play,
.microphone {
  width: 20px;
}

.line {
  margin: 42px 0;
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #d8d8d8;
}

.left {
  max-width: 290px;
  width: 100%;
}

.questions {
  width: 100%;
  margin-top: 45px;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  gap: 32px;
  max-width: 290px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.questionNumber {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
}

.questionButtons {
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  gap: 18px;
}

@media (min-width: 600px) {
  .mainBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }
}

.playing {
  display: flex;
  padding-top: 4px;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.disabled {
  cursor: not-allowed;
}
